.bmi-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding: 10%;
  }
  
  .bmi-result {
    margin-top: 20px;
    font-weight: bold;
    padding: 20px;
  }
  